.combine {
  display: flex;
  gap: 40px;
}

.combine-item {
  flex: 1;
}

.combine__loader,
.combine__error {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
